extends layout/layout
block variables
    - const link = 'pages/page2.html';
    - const name_link = 'page2'
    - const link3 = 'pages/page3.html';
    - const name_link3 = 'page3'

block content
    h1 It's a content

